

.container{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header{
    background-image: url(backgrounds/1.jpg);
    height: 100vh;
    background-size: cover;
}

body{
    font-family: 'EB Garamond';
    padding: 0px;
    margin: 0px;
}
.menu{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
#menuTitle{
    font-size: 22px;
    font-style: normal;
    color: #ffffff;
}

ul{
    list-style: none;
    display: flex;
    text-align: right;
}

li{
    font-size: 20px;
    margin-right: 10px;
    
}

.title{
    margin-top: 200px;
    text-align: center;
}

a{
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

h1{
    font-size: 40px;
    margin: 0px;
    color: #000000;
}

h2{
    font-size: 30px;
    margin: 0px;
    color: #000000;
}

.portfolio{
    margin-top: 20px;
    margin-left: auto;
    font-size: 25px;
    background: #4169E1;
    text-decoration: none;
    padding: 5px, 10px, 5px, 10px;
    border-radius: 15px;
    background-color: #4169E1;
}

/*Submenu Section*/

.H3Style{
    margin: auto;
    padding: auto;
    padding-bottom: 40px;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}

.about-background{
    background-image: url(backgrounds/computerOpening.jpg);
    height: 100vh;
    background-size: cover;
}

.about{
    display: flex;
    justify-content: space-around;
    font-family: 'EB Garamond';
    justify-content: center;
    align-items: stretch;
}

.about img {
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    display: block; 
    align-items: center;
    display: flex;
    border-radius: 50px;
    justify-content: space-around;
    height: 20%;
}

.paragraphAbout {
    color: #ffffff;
    font-family: 'EB Garamond';
    font-size: 18px;
    text-justify: auto;
    text-align: justify;
    display: inline-block;
}

/*Business/Services Section*/

.h3-service-style{
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: 	#000000;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.services-background{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(backgrounds/deal.jpg);
    height: 100vh;
    background-size: cover;
    height: 20%;
}

.container-services{
    padding-left: 105px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
}

/*Padding sums to element margin*/
.service{
    width: 20%;
    justify-content: space-around;
    color: #ffffff;
    padding-top: 38px, 38px, 10px, 38px;
    padding-right: 38px;
    padding-bottom: 10px;
    padding-left: 38px;
    border-radius: 15px;
    border-style: 5px outset;
    margin: 30px;
    font-size: 17px;
    text-align: justify;
    height: 400px; /*resolves problem with text sizes*/

}

.blue{
    background-color: #40a8fa;
    border-color: #40a8fa;
}

.violet{
    border-color: #5055df;
    background-color: #5055df;
}

.container-services h4{
    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-style: italic;
}

.container-services img{
    width: 70%;
    margin: auto;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.web-development{
    padding-bottom: 25px;
}

.process-improvement{
    padding-bottom: 0px;
}

.data-engineering{
    padding-bottom: 70px;
}